<head>
  <meta charset="utf-8">
  <title><%= header.title %></title>
  <link rel="stylesheet" href="/style/bootstrap.min.css">
  <link rel="stylesheet" href="/style/main.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  <meta property="og:title" content="SADLADS FILESHARE" />
  <meta property="og:description" content="A filesharing website for sad lads." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://fileshare.sadlads.com" />
  <meta property="og:image" content="https://fileshare.sadlads.com/images/favicon.png" />
</head>
